:root{
    --cor-fundo: #a5a5a5;
    --cor-principal:#000000 ;
    --cor-secundaria: #001086;
    --cor-destaque: #ff0000;
    --cor-texto: #3a3b3b;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}
button{
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.5px;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}